.background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    height: 1000px;
    width: 100%;
    
}

.secondBackground{
    background-color: white;
    -webkit-box-shadow: 0px 0px 34px 11px rgba(0,0,0,0.56); 
    box-shadow: 0px 0px 34px 11px rgba(0,0,0,0.56);
    margin: 10%;
    padding: 20px;
    border-radius: 20px;
}
.input{
    border-radius: 5px;
    border-color: black;
    border-width: 0.2px;
    height: 20px;
    margin: 5px;
}
.label{

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
